.nav {
    width: auto;
    height: 75px;
    padding: 0 10%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #757575;
    display: flex;
}

.nav h1 {
    cursor: pointer;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu__item {
    list-style: none;
}

.menu__item a {
    color: #757575;
    text-decoration: none;
}

.isActive {
    border-bottom: 3px solid blueviolet;
    padding-bottom: 0.5rem;
    opacity: 0.9;
    color: blueviolet;
}