.nav {
    width: 99%;
    margin: 0 auto;
    height: 70px;
    padding: 8px 16px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    color: #757575;
    border-radius: 0 0 8px 8px;



    .menu-hamburger {
        cursor: pointer;
        display: none;
    }

    @media screen and (max-width: 768px) {
        .menu-hamburger {
            display: block;
        }
    }
}